@import './Valiables.scss';

html, body, #root {
  @include marginPadding(0,0);
}

.contents {
  @include marginPadding(85px auto, 0 0 100 0);
  width: 90%;
  animation: fadein 1s linear;
}

.modal {
  @include initSize(90vw, 600px, 40px);
  @include initBorder(10px);
  z-index: 2;
  position: fixed;
  background-color: $white;
  box-shadow: 3px 3px 3px $gray;
  overflow-y: scroll;
  #title {
    @include marginPadding(0, 10px 0);
    @include initFont(16px, $white, bolder);
    width: 90%;
    text-align: center;
    position: fixed;
    background-color: $gray;
    border-bottom: 1px solid $gray;
    border-radius: 10px 10px 0 0;
  }
  #close {
    @include initFont($font-x-small, $white, bolder);
    @include initSize(10%, auto, 60px, 0px);
    position: fixed;
  }
  #message {
    margin: 100px auto;
  }
  #monthScheItems {
    margin-top: 60px;
    .todayScheItem, .monthScheItem {
      p {
        @include marginPadding(5px 0, 0 0 0 10px);
      }
      @include marginPadding((0px auto), (18px 0));
      width: 96%;
      background-color: $white;
      border-bottom: 1px solid $gray;
    }
  }
  table {
    @include marginPadding(80px 0 0 0, 3px);
    tr * {
      border-bottom: 1px solid $gray;
      padding: 5px 0px;
    }
    #tdTitle {
      width: 100px;
      font-weight: bold;
    }
    #tdContent {
      font-size: $font-middle;
      text-align: justify;
    }
  }
}

#title {
  @include initFont($font-content-title, $white, bold);
  height: 40px;
  line-height: 40px;
  background-color: $back2;
  border-radius: 10px;
  margin: 5 auto;
  text-align: center;
}

#message {
  text-align: center;
}

input[type="text"] {
  @include initBorder(5px);
}

button {
  @include initBorder(5px);
}

input[type="date"] {
  @include initSize(160px, 30px);
  @include initBorder(5px);
  color: $black;
}

.loading {
  @include initSize(100vw, 100vh, 0, auto, auto, 0);
  position: absolute;
  background-color: white;
  opacity: 0.2;
  text-align: center;
  z-index: 3;
  svg {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 15px);
    animation: rotate_image 1s linear infinite;
    transform-origin: 50% 50%;
  }
}

@keyframes rotate_image{ 
  100% { 
    transform: rotate(360deg);
  } 
}