@import "./Valiables.scss";

#scheTimeView {
  @include initBorder(8px, 2px, solid, $back1);
  padding: 10px 0;
  .timeItem {
    @include initSize(18px, 18px);
    @include initBorder(0px, 1px, solid, #ffffff);
    line-height: 18px;
    margin: 1px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
  }
  #picked {
    background-color: $back1;
    color: $white;
  }
  #none {
    color: $back1;
  }
}

#scheModal {
  text-align: center;
  color: $black;
  #close {
    right: 20px;
  }
  #todayScheItems {
    margin-top: 70px;
    overflow-y: scroll;
    .todayScheItem {
      margin-bottom: 20px;
      #name,
      #content {
        @include marginPadding(0 auto, 0);
        display: inline-block;
        font-weight: bold;
      }
      #name {
        width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      #content {
        width: 27%;
        padding-right: 3px;
        text-align: right;
        float: right;
      }
    }
  }
}

#scheDetail {
  text-align: center;
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 18px;
    #tdTitle {
      @include initFont(16px, $black, bold);
      width: 90px;
      text-align: right;
    }
    #tdContent {
      @include initFont($font-middle, $black);
    }
  }
  p {
    margin: 0 auto;
  }
  .timeTitle {
    text-align: center;
    margin: 5px auto;
  }
  .btnDiv {
    text-align: center;
    #whiteBtn,
    #orangeBtn {
      @include initSize(100px, 34px);
      @include initFont($font-middle, $black, bold);
      margin: 20px;
    }
    #orangeBtn {
      background-color: $back1;
      color: $white;
    }
  }
  #tdTime {
    label {
      @include initSize(40px, 40px);
      line-height: 40px;
      border-radius: 40px;
    }
  }
  input[type="text"] {
    height: 30px;
    text-align: center;
  }
}

#createMediInfo {
  text-align: center;
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    #tdTitle {
      @include initFont($font-middle, $black, bold);
      width: 100px;
      text-align: right;
    }
    #tdContent {
      @include initFont($font-small, $black);
    }
  }
  button {
    @include initSize(100px, 30px);
    @include initFont($font-x-small, $white, bold);
    background-color: $back1;
    margin-top: 30px;
  }
}

#tdDay,
#tdTime {
  font-size: $font-middle;
  label {
    @include initSize(25px, 25px);
    @include initBorder(0px, 2px, solid, #ffffff);
    display: inline-block;
    line-height: 25px;
    text-align: center;
    background-color: $back1;
    margin: 0 2px;
    font-weight: bolder;
  }
  #checked {
    color: $white;
    background-color: $back1;
  }
  #none {
    color: $back1;
    background-color: $white;
  }
  input {
    display: none;
    height: 0;
  }
}
#tdTime {
  label {
    @include initSize(30px, 30px);
    line-height: 30px;
    border-radius: 30px;
  }
}
