@import './Valiables.scss';

html, body, #root {
  margin: 0;
  padding: 0;
  top: 0;
}

.contents {
  width: 90%;
  margin: 0 auto;
  margin-top: 70px;
  padding-bottom: 100px;
}

.modal {
  width: 90vw;
  height: 600px;
  z-index: 2;
  position: fixed;
  top: 40px;
  background-color: $white;
  border: 1px solid $gray;
  border-radius: 10px;
  box-shadow: 3px 3px 3px $gray;
  overflow-y: scroll;
  #title {
    width: 90%;
    color: $white;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    position: fixed;
    margin: 0px;
    padding: 10px 0px;
    background-color: $gray;
    border-bottom: 1px solid $gray;
    border-radius: 10px 10px 0 0;
  }
  #close {
    width: 10%;
    position: fixed;
    top: 60px;
    right: 0px;
    color: $white;
    font-weight: bolder;
  }
  #monthScheItems {
    margin-top: 60px;
    .todayScheItem, .monthScheItem {
      p {
        padding-left: 10px;
        margin: 5px 0;
      }
      width: 96%;
      padding: 18px 0;
      margin: 0px auto;
      background-color: $white;
      border-bottom: 1px solid $gray;
    }
  }
  table {
    margin-top: 60px;
    padding: 3px;
    tr * {
      border-bottom: 1px solid $gray;
      padding: 5px 0px;
    }
    #tdTitle {
      width: 100px;
      font-weight: bold;
    }
    #tdContent {
      font-size: $font-small;
      text-align: justify;
    }
  }
}

#title {
  height: 40px;
  line-height: 40px;
  font-size: $font-content-title;
  font-weight: bold;
  color: $white;
  background-color: $back2;
  border-radius: 10px;
  margin: 5 auto;
  text-align: center;
}

#message {
  text-align: center;
}

input[type="text"] {
  border: 1px solid $gray;
  border-radius: 5px;
}

button {
  border: 1px solid $gray;
  border-radius: 5px;
}

input[type="date"] {
  width: 160px;
  height: 30px;
  color: $black;
  border: 1px solid $gray;
  border-radius: 5px;
}