@import './valiables.scss';

#camera {
  text-align: center;
  #inputDiv {
    margin-top: 170px;
    #fileBtn {
      @include initFont($font-x-small, $white, bold);
      padding: 20px;
      background-color: $back1;
      border-radius: 10px;
    }
    #inputFile {
      display: none;
    }
  }
  img {
    padding-top: 100px;
  }
}