@import './valiables.scss';

#scheTimeView {
  .timeItem {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: 1px;
    text-align: center;
    border: 2px solid $back1;
    border-radius: 18px;
    display: inline-block;
    font-weight: bold;
  }
  #picked {
    background-color: $back1;
    color: $white;
  }
  #none {
    color: $back1;
  }
}