@import './valiables.scss';

#search {
  #searchModule {
    input[type="text"] {
      @include initSize(100%, 28px);
      margin: 5px auto;
    }
    button {
      @include initSize(calc(100% + 6px), 30px);
      background-color: $back2;
      color: $white;
    }
  }
  #searchResult {
    text-align: center;
    margin-top: 10px;
    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0 7px;
      th {
        font-size: $font-small;
      }
      td {
        font-size: $font-x-small;
        height: 25px;
      }
      #btn {
        color: $white;
        background-color: $back2;
        border-radius: 5px;
      }
    }
  }
}