//color
$back1: #ffaa31;
$back2: #ffb950;
$white: #fefefe;
$gray: #b1b1b1;
$black: #555555;

$font-title: 20px;
$font-content-title: 18px;
$font-middle: 16px;
$font-small: 15px;
$font-x-small: 14px;
$font-xx-small: 13px;

$height-top: 60px;
$height-bottom: 60px;